In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sooeunscanfile_visit1included_updated3.csv')

In [3]:
df = df[df['Include'] == 1]

In [4]:
len(df)

121

In [5]:
df.Group.value_counts()

2    62
1    59
Name: Group, dtype: int64

In [6]:
df.sex.value_counts()

1    61
0    60
Name: sex, dtype: int64

In [7]:
df.columns

Index(['Subject', 'Cohort', 'Group', 'ScanNumber', 'TimePostCensor.min.',
       'meanFD', 'Include', 'sex', 'age_mri_months', 'age_mri_years'],
      dtype='object')

In [8]:
df['Cohort'].value_counts()

1    70
2    51
Name: Cohort, dtype: int64

In [9]:
df.describe(include=[np.number])

,Cohort,Group,ScanNumber,TimePostCensor.min.,meanFD,sex,age_mri_months,age_mri_years
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,1.421488,1.512397,1.132231,5.897705,0.394171,0.504132,73.752893,6.146074
std,0.495851,0.501925,0.427047,0.946261,0.347132,0.502062,22.840126,1.903344
min,1.000000,1.000000,1.000000,3.125000,0.061800,0.000000,40.000000,3.333333
25%,1.000000,1.000000,1.000000,5.291667,0.147900,0.000000,55.200000,4.600000
50%,1.000000,2.000000,1.000000,6.166667,0.281100,1.000000,68.700000,5.725000
75%,2.000000,2.000000,1.000000,6.708333,0.552900,1.000000,86.500000,7.208333
max,2.000000,2.000000,3.000000,6.833333,2.004100,1.000000,129.100000,10.758333